.logsList {
  max-width: 70vw; 
  overflow: scroll;
  display: block;
}

input[type="checkbox"]{
  cursor: pointer;    
  line-height: 22px;  
  font-size: 22px;
  border-radius: 5px;
  transition: color 0.2s ease;
  background-color: #CCE2FF;
  color: rgba(0, 0, 0, 0.87);
  z-index: 3;
  zoom: 1.2;
  width: 22px;
  height: 22px;
}
.appBody .ui.grid > .column:not(.row) {
  padding: 0!important;
  margin: 0!important;
}