/node_modules
*.log
/tmp
/src
/.gitignore
/.npmignore
/dist/spec
/tsconfig.json
/declarations.d.ts
*.tgz
test
typescript-ast-query-editor
formatCodeSettings.json
.nyc_output
coverage
test-browser-outdir
guitarra
dist/test
dist/test-browser
test
.cache
.travis.yml
zangano
zangano-demo
astq-query*
ava.config.js
nyc.config.js
TODO.md
ts-ast
.vscode
guides-probes-backups
test-browser
.travis.yml
.DS_Store
/tmp*
docs
.cache
test-browser
test-browser-outdir
working_tmp
scripts
playground
bkps
docs
magick-wasm
emscripten_prefix
ava.config-js.js